.btn{
    background-color:rgb(59, 209, 79);
    padding: 1rem ;
    margin-top: 1rem;
    font-size: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: .5rem;
    width: 20%;
    text-align: center;
    border:none
}